@{
    ViewData["Title"] = "Keyboard Demo";
}

<div>
    <h1>Keyboard Demo</h1>
    <p>Test this alternative for devices like TV's and game consoles that lack a built-in keyboard.</p>
    <ol>
        <li>Use the 5 standard controls (up, down, left, right, and enter) to make a search query.</li>
        <li>The keyboard will calculate the probabilities of which character you will type next.</li>
        <li>The keys will be arranged accordingly to save you time.</li>
        <li>When you see your desired query on the far right, press enter, and scroll to select it.</li>
    </ol>
    <br>
    <br>
    <div class="main-container">
        <div class="button-container">
            <button id="buttonUp" type="button">Scroll Up</button>
            <br>
            <button id="buttonLeft" type="button">Backspace</button>
            <button id="buttonCenter" type="button">Enter</button>
            <button id="buttonRight" type="button">Space</button>
            <br>
            <br>
            <button id="buttonDown" type="button">Scroll Down</button>
        </div>
        <div class="cursor-container">
            <p id="cursorTop">#</p>
            <p id="cursorUp">#</p>
            <p id="cursor1">#</p>
            <p id="cursor2">#</p>
            <p id="cursor3">#</p>
            <p id="cursor4">#</p>
            <p id="cursor5">#</p>
            <p id="cursor6">#</p>
            <p id="cursor7">#</p>
            <p id="cursorDown">#</p>
            <p id="cursorBottom">#</p>
        </div>
        <div class="keyboard-container">
            <p id="keyHeader">123 .!?</p>
            <p id="keyUp">^</p>
            <p id="key1">A</p>
            <p id="key2">C</p>
            <p id="key3">M</p>
            <p id="key4">P</p>
            <p id="key5">S</p>
            <p id="key6">T</p>
            <p id="key7">U</p>
            <p id="keyDown">v</p>
            <p id="keyFooter">ABC</p>
        </div>
        <div class="selection-container">
            <p id="selectionTop">#</p>
            <p id="selectionUp">#</p>
            <p id="selection1">#</p>
            <p id="selection2">#</p>
            <p id="selection3">#</p>
            <p id="selection4">#</p>
            <p id="selection5">#</p>
            <p id="selection6">#</p>
            <p id="selection7">#</p>
            <p id="selectionDown">#</p>
            <p id="selectionBottom">#</p>
        </div>
        <div class="results-container">
            <p id ="searchString">______________</p>
            <br>
            <p id ="result1">a</p>
            <p id ="result2">aardvark</p>
            <p id ="result3">abacterial</p>
            <p id ="result4">abacus</p>
            <p id ="result5">abandon</p>
            <p id ="result6">abandoned</p>
            <p id ="result7">abandonment</p>
            <p id ="result8">abase</p>
            <p id ="result9">abashed</p>
        </div>
    </div>
</div>
